In [1]:
import datetime as dt
import mplfinance as mpf
import yfinance as yf

In [2]:
ticker = yf.Ticker('^N225')
df = ticker.history(period='6mo')
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-02-20 00:00:00+09:00,38510.371094,38742.328125,38288.039062,38363.609375,108500000,0.0,0.0
2024-02-21 00:00:00+09:00,38191.968750,38339.699219,38095.148438,38262.160156,104700000,0.0,0.0
2024-02-22 00:00:00+09:00,38508.070312,39156.968750,38508.070312,39098.679688,122900000,0.0,0.0
2024-02-26 00:00:00+09:00,39320.640625,39388.078125,39181.031250,39233.710938,125700000,0.0,0.0
2024-02-27 00:00:00+09:00,39260.781250,39426.289062,39113.031250,39239.519531,119100000,0.0,0.0
...,...,...,...,...,...,...,...
2024-08-14 00:00:00+09:00,36535.601562,36683.890625,36074.710938,36442.429688,135600000,0.0,0.0
2024-08-15 00:00:00+09:00,36381.398438,36885.160156,36381.398438,36726.640625,119700000,0.0,0.0
2024-08-16 00:00:00+09:00,37304.929688,38143.550781,37304.929688,38062.671875,129500000,0.0,0.0
2024-08-19 00:00:00+09:00,37863.761719,38125.269531,37318.039062,37388.621094,107800000,0.0,0.0
2024-08-20 00:00:00+09:00,37847.851562,37933.648438,37738.300781,37879.648438,0,0.0,0.0

In [7]:
ts = df.index[2]

In [8]:
list(df.index).index(ts)

2